/* Some colour palette:
    Primary: #68C3D4;
    secondary: #568EA3;
    peach: #FFE8D1;
*/

/* Always! use button element. Not <div class="button"></div> */
/* MArgin bottom on component level, !NOT CONTAINER/WRAPPER/ */
/* BUTTONS */
button {
    font-size: 1.6rem;
    background-color: none;
    padding: 1rem 1.6rem;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #c0F;
    color: #FFF;
}

button.primary,
input {
    border-color: #c0F;
}
button.secondary, {
    border-color: #568EA3;
}
button.peach {
    border-color: #FFE8D1;
}

button:hover {
    background-color: #00e086;
}

/* INPUTS */
input {
    margin-bottom: 2rem;
    border-width: 3px;
    border-radius: 6px;
    padding: 2rem;
    border-style: solid;
    min-width: 20rem; /* Change if needed */
    font-size: 1.6rem;
}

.radio-button-group > ul,
.checkbox-group > ul {
    padding: 0;
}

.radio-button-group > ul > li,
.checkbox-group > ul > li {
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
}

.radio-button-group > ul > li > label,
.checkbox-group > ul > li > label {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1rem;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 40rem;
    position: relative;
    margin-top: 3rem;
}

.slider__track {
    -webkit-appearance: none;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: none;
    padding: 0;
    width: 100%;    
}

.slider__value {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: right;
}

.slider__track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #c0F;
    cursor: pointer;
    border-radius: .3rem;
}

.slider__labels {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 .5rem;
}
