/* Junction 2018 */
/* Please use BEM naming because we don't have modules: component-name__title, component-name__field-in-component */

html {
    font-size: 10px; /* 10px = 1rem, base font-size 1.6rem = 16px */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body {
    box-sizing: border-box;
    margin: 0; /* Remove html default margin */
}

.container {
    position: relative;
    padding: 5rem 5rem 2.5rem;
    height: 100%;
}

.filtters__wrapper {
    margin-bottom: 5rem;
}

.filtters__wrapper h2,
.filtters__wrapper h3 {
    display: inline-block;
}

.filtters__wrapper p {
    margin: 0 0 2rem;
    color: #888;
}

.summary {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    width: 30rem;
    background: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 3px #929292;
    border-radius: 1rem;
    z-index: 9999;
}

.summary > div {
    margin-bottom: 1.5rem;
}

.value {
    display: flex;
    flex-direction: column;
}

.value__label {
    font-size: 2rem;
    font-weight: 800;
    color: #00e086;
}

.value__number {
    font-size: 4rem;
}

.summary__footer button {
    width: 100%;
}

.footer {
    height: 5rem;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}
